{%extends "layout2.html"%}
{% block content %}
		<!--information that must be seen before reading assignment instructions-->
			<p style="position: relative; top: 20px;">
				<!--inline style setting because this style is used for very limited sections-->
				Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w20/">MarkUs</a>
			</p>
			<p style="position: relative; top: 20px;">
				Weight for each assignment is 15%, so a total of 45% for three assignments.
			</p>

			<!--3 assignments and their related information and files-->
			<h3 class="firsthead">Assignment 1</h3>
			<a href="/static/B20Assignment2-2.pdf">Handout</a>
			<p>Relational Algebra and MySQL</p>
			<p><font style="font-weight:bolder;text-style:oblique;">Due Date:</font>
				Part 1. Wednesday Feb. 1, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w20/">MarkUs</a>
			</p>
			<p><font style="color:red;">UPDATED&nbsp;</font>Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday
			</p>
			<p>Feb. 17, 11.59 Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w20/">MarkUs</a> You can download a dumpfile for IMDB_SMALL <a href="/static/B20Assignment2-2.pdf">here.</a>
			</p>
			<p>To use it type mysql -u utorid -p < IMDB_SMALL.sql
			</p>


			<h3 class="firsthead">Assignment 2</h3>
			<a href="/static/B20Assignment2-2.pdf">Handout2</a>&nbsp;<a href="/static/B20Assignment2-2.pdf">Handout2</a>
			<p>HTML,CSS,PHP</p>
			<p><font style="font-weight:bolder;text-style:oblique;">Due Date:</font></p>
			<p>Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to
			<a href="https://markus.utsc.utoronto.ca/cscb20w20/">MarkUs</a></p>
			<p>Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w20/">MarkUs</a></p>
			<p><a href="/static/B20Assignment2-2.pdf">Solution Part2</a></p>


			<h3 class="firsthead">Assignment 3</h3>
			<font style="color: red;font-style:oblique;">New&nbsp;</font><a href="/static/B20Assignment2-2.pdf">Marking Scheme for A3</a>&nbsp;<a href="/static/B20Assignment2-2.pdf">Handout</a>
			<p>Web Application and Database</p>
			<p><font style="font-weight:bolder;text-style:oblique;">Due Date:</font>
			<p>Friday March 31, 11.59pm</p>
			<p><a href="/static/B20Assignment2-2.pdf">Solution3</a></p>

		</center>
{% endblock content %}