<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>CSCB20 Login</title>
</head>
<body>
<div class="index">
    <h1>Login to your account</h1>
    <form action="/signin">
        <select action="/signin" name="dropdown" method="POST">
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
        </select>
      <input class="input-box" type="text" name="username" placeholder="Enter your username">
        <input class="input-box" type="password" name="password" placeholder="Enter your password">
      <br>
        <button type="submit" name="login">Sign in</button>
    </form>

    <h1>No account yet? Sign up now!</h1>

    <form name="register" action="/signup" method="POST">
        <select action="/signup" name="dropdown" method="POST">
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
        </select>
        <input class="input-box" type="text" name="username" placeholder="username">
        <input class="input-box" type="password" name="password" placeholder="password">
        <br>
        <button type="submit">Sign up</button>
    </form>
</div>

</body>
</html>