{%extends "layout2.html"%}
{% block content %}
<!--information that must be seen before reading lab information-->
			<p style="position: relative; top: 20px;"> <font style="font-weight:bolder;">Tutorial Sections:</font>
			Please go the tutorial section that you signed up for on ACORN.</p>
			<p style="position: relative; top: 20px;"> <font style="font-weight:bolder;">Tutorial Exercises:</font>
			This section contains the tutorial exercises</p>
			<p style="position: relative; top: 20px;">Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</p>

			<!--lab topics handouts and solutions from week 1 to week 10-->
			<h3 class="firsthead">Week 1</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Python,Command line</a></p>
			<p> <font style="font-weight:bolder;">Solutions:</font>
			None</p>

			<h3 class="firsthead">Week 2</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>

			<h3 class="firsthead">Week 3</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>

			<h3 class="firsthead">Week 4</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>
			<p> <font style="font-weight:bolder;">Solutions:</font>
			<a href="/static/B20Assignment2-2.pdf">query_solns</a></p>

			<h3 class="firsthead">Week 5</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>
			<p> <font style="font-weight:bolder;">Solutions:</font>
			<a href="/static/B20Assignment2-2.pdf">query_solns</a></p>

			<h3 class="firsthead">Week 6</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>
			<p> <font style="font-weight:bolder;">Solutions:</font>
			<a href="/static/B20Assignment2-2.pdf">query_solns</a></p>

			<h3 class="firsthead">Week 7</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>

			<h3 class="firsthead">Week 8</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>

			<h3 class="firsthead">Week 9</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">Handout</a></p>

			<h3 class="firsthead">Week 10</h3>
			<p> <font style="font-weight:bolder;">Labs:</font>
			<a href="/static/B20Assignment2-2.pdf">W3 tutorial</a> Work through the tutorial for JQuery up until JQuery Remove.</p>

		</center>
{% endblock content %}
