<html>
<head>
	<title>CSCB20 - Introduction to Databases and Web Applications - {% block title %}{%endblock%}</title>
    {% block head %}{% endblock %}
	<link rel="stylesheet" type='text/css' href="/static/style.css">
    <link rel="stylesheet" type='text/css' href="/static/functionality.css">
</head>
<body>

<div class="content">
    {% block content %}{% endblock %}

	<div class="heading">
        {% block header %}{% endblock %}

		<!-- Use a unordered list with row direction to create the navigation bar -->
		<div class="navigation">
			<ul id="menu">
                {% block navigation %}{% endblock %}
				<li><form action="/home"><button type="submit">Course Material</button></form></li>
                <li><form action="/logout"><button type="submit">logout</button></form></li>
			</ul>
		</div>
	</div>

    <div class="footer">
    <!--put the footer always at the bottom of the page-->
        <center>
            <p><a href="https://web.cs.toronto.edu/contact-us/faculty-directory">Faculty of Computer Science U of T</a><p>
            <p>Site design by Zeyang and Wentao</p>
        </center>
    </div>
</div>
</body>
</html>