{%extends "layout2.html"%}
{% block content %}
		<h4>Please print and bring these notes/worksheets to class.</h4>
			<!--Because the table tag is not allowed to use, we instead put stuff in different sections seperated by weeks-->
			<h3 class="firsthead">Week 1</h3>
			<p><font style="font-weight: bolder;">Topic: </font>Introduction, Databases background</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet1&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout1&nbsp;</a>
			</p>

			<!--The original website didn't have week 2, so we also skip this week-->

			<h3 class="firsthead">Week 3</h3>
			<p><font style="font-weight: bolder;">Topic: </font>Schema Diagrams, Relational Algebra</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet3&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout3&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 4</h3>
			<p><font style="font-weight: bolder;">Topic: </font>SQL and MySQL</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet4&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout4&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 5</h3>
			<p><font style="font-weight: bolder;">Topic: </font>MySQL Queries, Creating and Editing Tables</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet5&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout5&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 6</h3>
			<p><font style="font-weight: bolder;">Topic: </font>MySQL Outer Joins, Views, NULL, string functions, HTML	</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet6&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout6&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 7</h3>
			<p><font style="font-weight: bolder;">Topic: </font>HTML, CSS</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet7&nbsp;</a>
				<a href="/static/B20Assignment2-2.pdf"> Handout7&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 8</h3>
			<p><font style="font-weight: bolder;">Topic: </font>PHP</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet8&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout8&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 9</h3>
			<p><font style="font-weight: bolder;">Topic: </font>PHP and SQL</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet9&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout9&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 10</h3>
			<p><font style="font-weight: bolder;">Topic: </font>JavaScript and jQuery</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet10&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout10&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 11</h3>
			<p><font style="font-weight: bolder;">Topic: </font>jQuery, AJAX, JSON</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet11&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout11&nbsp;</a>
			</p>

			<h3 class="firsthead">Week 12</h3>
			<p><font style="font-weight: bolder;">Topic: </font>Last Year's final</p>
			<p><font style="font-weight: bolder;">Lecture Material: </font>
				<a href="/static/B20Assignment2-2.pdf"> Worksheet12&nbsp;</a>
			</p>
			<p><font style="font-weight: bolder;">In Class: </font>
				<a href="/static/B20Assignment2-2.pdf"> Handout12&nbsp;</a>
			</p>

{% endblock content %}